<div class='col'>
  <p id='health'>Health: <%=@valera.health%></p>
</div>
<div class="col">
  <p id='mana'>Mana: <%=@valera.mana%></p>
</div>
<div class="col">
  <p id='cheerfulness'>Cheerfulness: <%=@valera.cheerfulness%></p>
</div>
<div class="col">
  <p id='fatigue'>Fatigue: <%=@valera.fatigue%></p>
</div>
<div class="col">
  <p id='money'>Money: <%=@valera.money%>$</p>
</div>