//= require jquery
//= require jquery_ujs

$("#health").replaceWith("<p id='health'>Health: <%=@valera.health%></p>");
$("#mana").replaceWith("<p id='mana'>Mana: <%=@valera.mana%></p>");
$("#cheerfulness").replaceWith("<p id='cheerfulness'>Cheerfulness: <%=@valera.cheerfulness%></p>");
$("#fatigue").replaceWith("<p id='fatigue'>Fatigue: <%=@valera.fatigue%></p>");
$("#money").replaceWith("<p id='money'>Money: <%=@valera.money%>$</p>");
