//= require jquery
//= require jquery_ujs


/* Characteristics */
$("#health").css("width", <%=@valera.health%> + "%");
$("#health").text(<%=@valera.health%> + "%");

$("#mana").css("width", <%=@valera.mana%> + "%");
$("#mana").text(<%=@valera.mana%> + "%");

$("#cheerfulness").css("width", <%=(@valera.cheerfulness+@valera.max_characteristic.cheerfulness)*5%> + "%");
$("#cheerfulness").text(<%=(@valera.cheerfulness+@valera.max_characteristic.cheerfulness)*5%> + "%");

$("#fatigue").css("width", <%=@valera.fatigue%> + "%");
$("#fatigue").text(<%=@valera.fatigue%> + "%");

$("#money").replaceWith("<p id='money'>Money: <%=@valera.money%>$</p>");

/* Images */
$('#temp_hidden').html(<%=@valera.max_characteristic.health%>);
var max_health = parseInt($("#temp_hidden").text());

$('#temp_hidden').html(<%=@valera.max_characteristic.cheerfulness*10%>);
var max_cheerfulness = parseInt($("#temp_hidden").text());

$('#temp_hidden').html(<%=@valera.min_characteristic.money%>);
var min_money = parseInt($("#temp_hidden").text());

var health = parseInt($("#health").text());
var cheerfulness = parseInt($("#cheerfulness").text());
var money = parseInt($("#money").text());

var img_1 = '<%= image_tag("1.jpg", id: "valera", class:"col img") %>';
var img_2 = '<%= image_tag("2.jpg", id: "valera", class:"col img") %>';
var img_3 = '<%= image_tag("3.jpg", id: "valera", class:"col img") %>';

if (health >= max_health * 0.7) {
	$("#valera").replaceWith(img_1);
} else if (health >= max_health * 0.4) {
	$("#valera").replaceWith(img_2);
} else {
	$("#valera").replaceWith(img_3);
}
