//= require jquery
//= require jquery_ujs

$("#health").css("width", <%=@valera.health%> + "%");
$("#health").text(<%=@valera.health%> + "%");

$("#mana").css("width", <%=@valera.mana%> + "%");
$("#mana").text(<%=@valera.mana%> + "%");

$("#cheerfulness").css("width", <%=(@valera.cheerfulness.abs+@max_characteristic.cheerfulness)*5%> + "%");
$("#cheerfulness").text(<%=(@valera.cheerfulness.abs+@max_characteristic.cheerfulness)*5%> + "%");

$("#fatigue").css("width", <%=@valera.fatigue%> + "%");
$("#fatigue").text(<%=@valera.fatigue%> + "%");

$("#money").replaceWith("<p id='money'>Money: <%=@valera.money%>$</p>");
