
<div id="clearance" class="password-reset">
  <h2><%= t(".title") %></h2>

  <p class="text-center"><%= t(".description") %></p>

  <div class="row justify-content-center">
    <div id="clearance" class="sign-up col-3">
      <%= form_for :password, url: passwords_path do |form| %>
      <%= form.label :email %>
        <div class="text-field">
          <%= form.text_field :email, type: 'email', class: 'form-control'%>
        </div>

        <div class="submit-field">
          <%= form.submit :class => 'form-control' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
